// Here you can add other styles
.my-modal {
  max-width: 90vw;
}

.react-bs-table-bordered {
  border-radius: 0px;
}

.react-bs-table table td, .react-bs-table table th {
  white-space: normal;
  vertical-align: middle;
}

.react-bs-table .table-action-column {
  text-align: center !important;
}

.info-box {
  height: 100%;
  margin-bottom: 0px;
}

.required-input:after {
  color: #d00;
  content: "*";
  margin-left: 8px;
  top:7px;
}

.programme-edit {
  margin-right: 3px;
}

.UserAvatar--dark {
  color: #FFF;
}

.nav-greeting {
  padding-right: 10px;
}

.UserAvatar {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social-box .UserAvatar {
  background-color: #CCC;
}

.UserAvatar--inner {
  margin: 0 auto;
}

.UserAvatar--light {
  color: #333;
}

.social-box ul li strong {
  font-size: 16px;
}

.ag-theme-balham .ag-root {
  border: 0px;
}

.file-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.upload-label {
  background-color: black;
  display: inline-block;
  cursor: pointer;
  background-color: #e4e5e6;
  padding: 5px;
}

.upload-label:active {
  color: white;
  background-color: #9d9d9d;
}

/*
.csv-info {
  max-height: 124px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}
*/

.link-button {
  padding: 6px 0px;
}

.card .Select--multi {
  word-wrap: normal;
}

.subform .card-header {
  background-color: #f0f3f540;
}

.subform .card-footer {
  background-color: #f0f3f540;
}

.text-filter {
  margin-top: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.76562rem;
  line-height: 1.5;
}

.select-filter {
  margin-top: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.76562rem;
  line-height: 1.5;
  height: calc(1.64844rem + 2px) !important;
}

.react-bs-table .order {
  margin: 0px 0px 0px 5px !important;
}

.selected-row {
  color: hsla(30, 30, 30, .3);
}
